@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<br />

<address>
    Haut&#232; Couture<br />
    Tysons Corner Mall<br />
    1961 Chain Bridge Rd, VA 22102<br />
</address>

<address>
    <strong>Phone:</strong>     <a href="tel:571.201.7894">571.201.7894</a><br />
    <strong>Support:</strong>   <a href="mailto:support@example.com">support@haut&#232;-couture.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@example.com">marketing@haut&#232;-couture.com</a>
</address>